
a{color: black;text-decoration: none;font-family:"Poppins","Noto Sans SC","微软雅黑"；}
.esdlist{font-size: 20px;font-family:"Poppins","Noto Sans SC","微软雅黑"；}
p{width: 80%;font-size: 20px;margin-left: 100px;text-indent: 2em;font-family:"Poppins","Noto Sans SC","微软雅黑"；}
.faqimg{margin-left: 100px;float: inline-start;}
h4 img{margin-left: 10px;}
li{margin-left: 30px;font-family:"Poppins","Noto Sans SC","微软雅黑" ;}
h2{font-family:"Poppins","Noto Sans SC","微软雅黑";}
table{ 
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-align: center;
    margin-left: 100px;
}

table th {
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
}

table td {
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
}
